@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular");
    src:("fonts/Lato-Regular.ttf");
    }
body{
    font-family: "Lato-Regular";
    background-color: aliceblue;
    color:black;
}
button{
    color:brown;
}
/* dices showing*/
.show-dices{
    position: fixed;
    top: 38%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -90%);
}

.players{
    display: flex;
}
.column{
    flex: 50%;
    width: 100%;
}
.player-name, .score{
    /*border: 1px solid lightcoral;
    border-radius: 2%;
    background-color: lightcoral;*/
    width : 30%;
    box-sizing: border-box;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /*box-sizing: border-box;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;*/
}
.current{
    border: 1px solid lightcoral;
    border-radius: 2%;
    background-color: lightcoral;
    width : 30%;
    box-sizing: border-box;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.active-player{
    /*font-weight: 200;*/
    background-color: red;
    width : 30%;
}
.active-player .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: relative;
    color: #15f062;
    top: 10px;
    right: -2px;
    
  }
.players > #player1{
    
}
.players > #player2{

}
#game-buttons{
    position: fixed;
    top: 58%;
    left: 52%;
    /* bring your own prefixes */
    transform: translate(-50%, -90%);
    font-size: larger;
    width: 15rem;
    height: 2rem;
    font-weight: bold;

}
.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}
.Wins{
    font-size: large;
    color:gold;
    font-weight: bold;
}